@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/*{ }*/

body{ 
  margin: 0px;
  background-color: #E7ECEF;
  font-family: Poppins;
}

header{ 
  background-color: #6096BA;
  text-align: center;
}


h1 { 
  display: inline-block;
  vertical-align: middle;
}

/*Her ligger css for menyen, merk her at ved bruv av en container div i html blir listen og h1 alignet på samme linje*/
#navbar{
  display:inline-block;
  vertical-align: middle;
}

#navbar li{
  display: inline;
  padding: 20px;
}